<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mscs.vulnerabilitytestingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.mscs.vulnerabilitytestingapp.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.mscs.vulnerabilitytestingapp.activities.BevigilActivity"
            android:exported="false" />
        <activity
            android:name="com.mscs.vulnerabilitytestingapp.activities.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:exported="false" />
        <activity
            android:name="com.mscs.vulnerabilitytestingapp.activities.MoboSFActivity"
            android:exported="false" />
        <activity
            android:name="com.mscs.vulnerabilitytestingapp.activities.ChoiceActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mscs.vulnerabilitytestingapp.activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>
</manifest>